.landingHeader{
    color: #343a40;
    font-size: 7rem;
}

.landingSubheader{
    color: #343a40;
    font-size: 3rem;
}

.landingDescription{
    color: #343a40;
    font-size: 1.5rem;
}

.landing1{
    text-align:center;
}

.divider{
    width:200px;
    height:auto;
    display:inline-block;
}

.button{
    border: solid #343a40;
    color: #343a40;
    margin-top: 5%;
<<<<<<< HEAD:src/components/pages/Landing/landing.css
    border-radius: 30px;
=======
    border-radius: 0px;
>>>>>>> 23808447cea017f76a80a56ee7077414a0aea8a0:src/components/pages/landing.css
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    width: 250px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #343a40;
    color: #EEE;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

