.landingHeader{
    font-size: 7rem;
}

.landingSubheader{
    font-size: 3rem;
}

.landingDescription{
    font-size: 1.5rem;
}

.landing1{
    text-align:center;
}

.divider{
    width:200px;
    height:auto;
    display:inline-block;
}

.registerBtn{
    border: solid #373F51;
    margin-top: 5%;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    box-shadow: 0 9px #999;
    width: 250px;
}

.registerBtn:hover {
    background-color: #212529;
    color: #f8f9fa;
}

.registerBtn:active {
    background-color: #212529;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.loginBtn{
    border: solid #373F51;
    margin-top: 5%;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    box-shadow: 0 9px #999;
    width: 250px;
}

.loginBtn:hover {
    background-color: #212529;
    color: #f8f9fa;
}

.loginBtn:active {
    background-color: #212529;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
