body{
    background-color: #EEE;
}

.Home{
    align-items: center;
    height: 100%;
}

.Home1{
    text-align:center;
}

.homeHeader{
    font-size: 4rem;
}

.registerBtn{
    border: solid #373F51;
    margin-top: 5%;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}